{% extends 'base.html.twig' %}

{% block title %}
    Strona o filmach
{% endblock %}

{% block body %}

    <h1 class="bg-blue-500 text-center text-bold text-2xl">
    {{ _self }}
    </h1>
    <img src="{{ asset('build/images/algarve.1fa27839.jpg')}}" alt="">

    <br>
    {{ _charset }}
    <br>
    {{ _author }}
{% endblock %}